.card-container{
  width: 30em;
  height: 40em;
  border: 1px solid black;
  margin-top: 5em;
}

.card-container img{
  height: 37%;
  width: 100%;
}

.card-desc{
  background-color: white;
  height: 63%;
}

.icons{
  display: flex;
  justify-content: space-around;
}
.icons img{
  max-width: 10%;
}