.card-container{
  width: 30em;
  height: 40em;
  border: 1px solid black;
  margin-top: 5em;
}

.card-container img{
  height: 37%;
  width: 100%;
}

.card-desc{
  background-color: white;
  height: 63%;
}

.card-desc h3{
  width: 80%;
  margin: 0 auto;
  padding: .3em;
  color:#F1C27A;
  text-align: center;
  font-size: 36px;
  border-bottom: 1px solid black;
}

.tech-list{
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.tech-list li{
  width: 20%;
}

.icons{
  display: flex;
  justify-content: space-around;
}
.icons img{
  max-width: 10%;
}