#about-container{
  color:$off-white;
  background-color: $darker-gray;
  width: $box-width;
  height: $box-height;
  margin: auto;
  padding:1em;
  padding-bottom:13em;
}
#about-container h1{
  font-size: $title-size;
  text-align: center;
}
#about-container p{
  margin:auto;
  font-size: $ml-size;
  width:50%;
}
#about-container img{
  margin:auto;
  width: 40%;
}

#about-flex-container{ 
  display:flex; 
}