.box-container{
  color: $off-white;
  background-color: $darker-gray;
  margin:auto;
  width: $box-width;
  height: $box-height;
  padding:1em;
  border-radius: $s-size;
}

@media only screen and (max-width:1539px) {
  .box-container {
    height: 85rem;
  }
}
@media only screen and (max-width:1011px) {
  .box-container {
    height: 160rem;
  }
}