#contact-container {
  width: $box-width;
  height: $box-height;
  color: $off-white;
  background-color: $darker-gray;
  padding:1em;
  margin:auto;
}
#contact-container h1 {
  text-align: center;
  font-size: $title-size;
}
#contact-flex-container{
  display:flex;
  justify-content: space-around;
  margin:auto;
}