#contact-container {
  color: $off-white;
  background-color: $darker-gray;
  height: $box-height;
  width: $box-width;
  margin:auto;
}
#contact-container h1 {
  text-align: center;
  font-size: $title-size;
}