#email-title{
  display:flex;
  margin: auto;
  width:40%;
}
#email-box h2{
  font-size: $l-size;
  margin-right: .8em;
}
#email-box img{
  width:10em;
}
#email-text{
  margin-top:2em;
  font-size: $ml-size;
}
#email-blurb{
  font-size: $m-size;
}
#img-flex-container{
  display: flex;
  justify-content: space-around;
  padding: 0 15em;
  margin-top:5em;
}
