footer {
  color:white;
  background-color: $darker-gray;
  position: absolute;
  width:100%;
  height: $l-size;
  bottom:0;
  font-size:$s-size;
  display: flex;
}
.footer-link{
  text-decoration: none;
  color:inherit;
}