footer {
  color:white;
  background-color: $darker-gray;
  position: absolute;
  width:100%;
  height: $l-size;
  bottom:0;
  font-size:$s-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer img{
  width:$ml-size;
}
#footer-contact{
  text-decoration: none;
  color:inherit;
}
#footer-policy{
  text-decoration: none;
  color:inherit;
}
#footer-socials{
  display:flex;
  justify-content: space-between;
}
#footer-socials a{
  display:flex;
  align-items: center;
  margin: 0 2em 0 2em;
}