#gallery-item {
  width:100%;
}
#gallery-item p{
  margin-left: $m-size;
}
#flex-container{
  display: flex;
  align-items: center;
}
#proj-prev{
  width: 100%;
}
#github-logo{
  margin-left: $l-size;
  width: 10%;
}