#gallery-prev{
  background-color: $mid-gray;
  border: 3px solid $off-black;
  border-radius: $s-size;
  margin:4em 3em 4em 3em;
}
#gallery-prev h1{
  text-align: center;
}
#gallery-prev ul{
  margin-top:1em;
  padding:0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#gallery-prev ul li{
  float: left;
  width: 30%;
}
#gallery-prev button{
  margin-left: 93.5%;
}
#gallery-prev hr{
  height:3px;
  background-color: $darker-gray;
}