#gallery-prev{
  background-color: $light-gray;
  border: 3px solid $off-black;
  border-radius: $s-size;
  margin:.9em 1em 0 1em;
}
#gallery-prev h1{
  margin:$s-size;
  text-align: center;
  font-size: $l-size;
  font-weight: 800;
}
#gallery-prev ul{
  margin-top:1em;
  padding:0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#gallery-prev ul li{
  float: left;
  width: 30%;
}
#gallery-prev hr{
  border-color: $darker-gray;
  height:2px;
  background-color: $darker-gray;
}
#gallery-prev Link{
  margin-left:90%;
}