#gallery-item {
  width:100%;
}
#gallery-item p{
  font-size: 1.4em,;
  margin-left: $l-size;
}
#flex-container{
  margin-top: 10em;
  display: flex;
  align-items: center;
}
#flex-container h3{
  font-size: $m-size;
}
#proj-prev{
  width: 90%;
  border-radius: 2em;
}
#proj-prev:hover{
  opacity: 0.5;
}
#github-logo{
  margin-left: $m-size;
  width: $ml-size;
}
.overlay p{
  position: relative;
  text-align:center;
  margin-right:3em;
  margin-top:-5em;
  font-weight: bold;
  z-index:0;
}
.overlay{
  font-size:2em;
}
.overlay img{
  position: relative;
  z-index:1;
}