#gallery-prev{
  background-color: $mid-gray;
  border: 3px solid $off-black;
}
#gallery-prev h2{
  text-align: center;
}
#gallery-prev ul{
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#gallery-prev ul li{
  float: left;
  width: 30%;
}