#gallery-item {
  width:100%;
}
#gallery-item p{
  font-size: 1.4em,;
  margin-left: $l-size;
}
#flex-container{
  display: flex;
  align-items: center;
}
#flex-container h3{
  font-size: $m-size;
}
#proj-prev{
  width: 90%;
  border-radius: 2em;
}
#proj-prev:hover{
  opacity: 0.5;
}
#github-logo{
  margin-left: $m-size;
  width: $ml-size;
}