#message-box h2{
  font-size: $l-size;
}

#message-box form{
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}
#message-box form input[type=text]{
  margin-left: 10%;
  width: 65%;
  height:2em;
  margin-bottom: 1.5em;
}
#message-box form input[type=email]{
  margin-left:10%;
  width: 65%;
  height:2em;
  margin-bottom: 2em;
}
#message-box form textarea{
  margin-left: 10%;
  width: 80%;
  height:8em;
  margin-bottom: 2em;
}
#message-box form input[type=submit]{
  margin: auto;
  width: 25%;
}