#message-box h2{
  font-size: $l-size;
}

#message-box form{
  display: flex;
  flex-direction: column;
}
#message-box form input[type=text]{
  margin-left: 10%;
  width: 50%;
}
#message-box form input[type=email]{
  margin-left:10%;
  width: 65%;
}
#message-box form textarea{
  margin-left: 10%;
  width: 80%;
}