#portfolio-container{
  color: $off-white;
  background-color: $darker-gray;
  margin:auto;
  width:90%;
  padding:$m-size;
}
#portfolio-container h1{
  text-align: center;
}
#portfolio-container ul{
  margin:auto;
  margin-top:8em;
  padding:0;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
#portfolio-container ul li{
  margin:auto;
  margin-top:2em;
  width: 75%;
}