.contact-page{
  background-color:#333333;
  height:78.5vh;
  color: white;
  padding-top:2%;
}

.contact-container{
  display: flex;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #474747;
  width:95%;
  height:96%;
  flex-direction: column;
}
.contact-container h1{
  text-align: center;
  padding-top: .5em;
}
.contact-container h2{
  font-size:2em;
}

h1{
  margin:0;
  padding:0;
}

.email-containers{
  display: flex;
  justify-content: space-around;
  margin-top:2%;
  height:80%;
}
.email{
  display: flex;
  flex-direction: column;
  text-align: center;
  border:3px solid #333333;
  width:45%;
  border-radius: 5%;
  justify-content: space-between;
}
.email h3{
  font-size: 1.7em;
}
.contact-socials{
  display: flex;
  justify-content: space-around;
  width:30%;
  margin-left:auto;
  margin-right:auto;
}
.contact-socials a img{
  width:5em;
}

.message{
  text-align: center;
  border:3px solid #333333;
  width:45%;
  border-radius: 5%;
}
.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

.contact-form input{
  margin-top:2em;
  width:75%;
}
.contact-form textarea{
  width:81%;
}

.name-cont{
  margin-left: -1.8em;
}
.email-cont{
  margin-left: -1.8em;
}

.messg-cont{
  margin-top:3em;
  margin-left:-3em;
}
.messg-cont *{
  vertical-align: top;
}

label{
  margin-right:1em;
}

#submit-btn{
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  color:black;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #afafaf;
  padding:.5em;
  padding-left: 1em;
  padding-right: 1em;
  border:3px #333333 solid;
  border-radius:15px;
  width:50%;
  cursor: pointer;
}

@media only screen and ( max-width: 1023px ) {
  .contact-page{
    height:100%;
  }
  .email-containers{
    flex-direction: column;
  }
  .email{
    width:100%;
  }
  .message{
    width:100%;
  }
  .messg-cont{
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
  }
}