.contact-page{
  height: 100vh;
  background-color: #212121;
}
.contact-title{
  color: white;
  font-size: 52px;
  text-align: center;
  padding-top: 1em;
}

.form-container{
  color: white;
  height: 70%;
  width:80%;
  margin: 2em auto;
  border: 2px solid #707070;
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em auto;
  width: 90%;
  height: 90%;
}

.social-submit{
  display: flex;
}

.socials img{
  max-width: 7%;
}