body{
    height:100vh;
    width: 100vw;
    margin:0;
    display:flex;
    flex-direction: column;
    align-content: center;
}
header{
    width:100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: right;
}
header img{
    align-self: flex-start;
    margin:auto;
    max-height: 50px;
    max-width: 500px;
}
#header-spacer{
    width:30%;
}
header nav{
    align-self: flex-end;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
    margin-right:2em;
}
nav ul li a{
    text-decoration: none;
    color:#AFAFAF;
}

main{
    flex-grow: 1;
    background-color: #333333;
}