body{
    margin:0;
    display:flex;
    justify-content: space-around;
    align-content: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center
}
header img{
    margin:auto;
    height: 50px;
    width: 500px;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
}