body{
  margin:0;
  background-image: url("../shore.jpg");
  background-size: 100% 100%;
}
#container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  margin:0;
  padding:0;
  font-size:3em;
  font-family: Spartan, sans-serif;
}
/*
@keyframes bounce{
 0% {
      transform: translate3d(0px, 0px, 0px);
      animation-timing-function: ease-out;
    }
  50% {
    transform: translate3d(0px, -20px, 0px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes slide{
  from {
       transform: translate3d(0px, 0px, 0px);
       }
  to {
     transform: translate3d(0px, -270px, 0px);
     animation-timing-function: ease-out;
     }
 }
 
 
#title:hover{
  animation-name: bounce;
  animation-duration: .8s;
}
*/
a{
  color:white;
  text-decoration: none;
  padding:1.5em;
}
#title{
  position: relative;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #c7d0d8;
  opacity: 80%;
  height:1.5em;
}