.portfolio-page{
  background-color:#333333;
  height:78.5vh;
  padding-top:2%;
}

.portfolio-container{
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #474747;
  width:95%;
  height:95%;
}

.gallery-list{
  margin-top:1em;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  color:white;
}

h1{
  color:white;
}