.contact-page{
  background-color:#333333;
  height:82.6vh;
}

.contact-container{
  display: flex;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #474747;
  width:95%;
  height:96%;
  flex-direction: column;
}

.email-containers{
  display: flex;
}
.email{
  margin:0;
}

.message{
  margin:0;
}