.contact-page{
  background-color:#333333;
  height:78.5vh;
  color: white;
  padding-top:2%;
}

.contact-container{
  display: flex;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #474747;
  width:95%;
  height:96%;
  flex-direction: column;
}

h1{
  margin:0;
  padding:0;
}

.email-containers{
  display: flex;
  justify-content: space-around;
  margin-top:2%;
  height:80%;
}
.email{
  text-align: center;
  border:3px solid #333333;
  width:45%;
  border-radius: 5%;
}
.message{
  text-align: center;
  border:3px solid #333333;
  width:45%;
  border-radius: 5%;
}