.home-page{
  background-color:#333333;
  color: white;
  height:82.6vh;
}

.hero{
  height: 11em;
  width: 100%;
  object-fit: cover;
  object-position: 100% 85%;
}

@media only screen and ( max-width: 1023px ) {
  .home-page{
     height:100%;
  }
  .hero{
    object-position: 24% 85%;
  }
}