.footer-wrap{
  height:3.5vh;
  background-color:#171717;
}
.footer-link{
  text-decoration:none;
}
ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin:0;
}
ul li{
  margin:0;
  margin-top:.3em;
}

ul li h4{
  color:white;
  margin: 0;
}
