.logo-container{
  position: relative;
  min-width:54rem;
  overflow: hidden;
  
}

.brandon{
  position: absolute;
  width: 0%;
  top: 0;
  margin:0;
  padding:0;
  animation-name: sliderightname;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
}
.schaen{
  width:0%;
  margin:0;
  padding:0;
  position: absolute;
  right: 15em;
  animation-name: slideupname;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: .2s
}

.line-1{
  height: 3.6%;
  position: absolute;
  top: 45%;
  left: -100%;
  animation-name: slideright;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-delay: .2s;
}
.line-2{
  width: .9%;
  position: absolute;
  animation-name: slidedown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.line-3{
  width: .9%;
  position: absolute;
  left: 30%;
  animation-name: slideup;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slideup {
  from {
    bottom: -100%;
  }
  to{
    bottom: 0%;;
  }
}
@keyframes slideupname {
  from {
    width:40%;
    bottom: -100%;
  }
  to{
    width:40%;
    bottom: 0%;
  }
}
@keyframes slidedown {
  from {
    top: -100%;
  }
  to{
    top: -2%;
  }
}
@keyframes slideright {
  from {
    left:-100%;
  }
  to{
    left:0%;
  }
}
@keyframes sliderightname {
  from {
    left:-100%;
    width: 50%;
  }
  to{
    left:0%;
    width: 50%;
  }
}