.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-link{
  color: #AFAFAF; 
  font-size:2em;
  margin-right:2em;
  text-decoration: none;
}
