.projects-page{
  height:100vh;
  background-color: #352743;
}
.projects-title{
  color: white;
  font-size: 52px;
  text-align: center;
  padding-top: 1em;
}

.projects-container{
  display: flex;
  justify-content: space-around;
}