#projects{
  scroll-snap-align: center;
}

.projects-page{
  position: relative;
  height:100vh;
  background-color: #352743;
}
.projects-title{
  color: white;
  font-size: 52px;
  text-align: center;
  padding-top: 1em;
}

.projects-container{
  overflow-x: hide;
  height: 90%;
}
.car {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.hide{
  display: none;
}

.show{
  display: flex;
}

.car-menu{
  display: flex;
  margin: 3em auto;
  width: 5%;
  list-style: none;
  justify-content: space-around;
}

.dot{
  margin-left: 1em;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active-dot{
  background-color: white;
}
.dot:hover{
  background-color: rgb(255, 255, 255);
}

.corner-tri{
  position: absolute;
  bottom: -5%;
  left: 0;
}
#about-tri{
  cursor: default;
}
.tri-path{
  cursor: pointer;
}

/* display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(6, calc(30% - 40px));
  grid-template-rows: minmax(150px, 1fr);
  padding: 0 50px;
  -webkit-overflow-scrolling: touch; */

/* .projects-container::-webkit-scrollbar{
  display:none;
} */