.gallery-prev{
  background-color: #474747;
  width: 95%;
  height:70%;
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}
h1{
  padding-top:.5em;
  text-align: center;
}
.gallery{
  margin-top:1.5em;
  margin-bottom:1em;
  width:100%;
  height:65%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.btn-container{
  margin-top:1.5em;
  text-align: end;
}
.see-more{
  max-height: 100%;
  color:black;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #afafaf;
  padding:.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-right:3%;
  border:3px #333333 solid;
  border-radius:15px;
}