.gallery-prev{
  background-color: #474747;
  width: 95%;
  height:60%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}
h1{
  text-align: center;
}
.gallery{
  width:100%;
  height:65%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.btn-container{
  width:100%;
  text-align: end;
}
.see-more{
  margin-right:1em;
  color:black;
  text-decoration: none;
}