.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:1.5em;
}

.header-img{
  max-width:38%;
}

nav{
  max-width:100%;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-link{
  color: #AFAFAF; 
  font-size:2em;
  margin-right:2em;
  text-decoration: none;
  font-weight: bold;
}
.ham{
  display: none;
}
.contact{
  margin:0;
}

.active{
  color:#333333;
}

@media only screen and ( max-width: 1023px ) {
  .hidden{
    display: none;
  }
  .header-img{
    max-width: 25em;
    min-width: 5em;
  }
  .ham{
    display: inline-block;
    height: 3em;
  }
  .ham-btn{
    margin-left: 1em;
  }
  nav{
    position: absolute;
    padding-top:2.5em;
    padding-bottom:2.5em;
    height:18em;
    top:0%;
    right:0%;
    background-color:white;
    z-index:1;
    border: 2px #777 solid;
  }
  nav ul{
    display:flex;
    flex-direction: column;
  }
  nav ul li{
    margin-bottom: 1em;
  }
}