.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:1.5em;
}

.header-img{
  max-width:38%;
}

nav{
  max-width:100%;
}

.nav-list{
  list-style: none;
  display: flex;
}

.nav-link{
  color: #AFAFAF; 
  font-size:2em;
  margin-right:2em;
  text-decoration: none;
  font-weight: bold;
}
.ham{
  display: none;
}
.contact{
  margin:0;
}

.active{
  color:#333333;
}

@media only screen and ( max-width: 1023px ) {
  nav{
    display: none;
  }
  .header-img{
    max-width: 25em;
    min-width: 5em;
  }
  .ham{
    display: inline-block;
    height: 4em;
  }
}