.header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:1.5em;
}

.header-img{
  width:40%;
}

.nav{
  max-width:100%;
}

.nav-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.nav-link{
  color: #AFAFAF; 
  font-size:2em;
  margin-right:2em;
  text-decoration: none;
  font-weight: bold;
}
.contact{
  margin:0;
}

.active{
  color:#333333;
}

@media only screen and( max-width: 1048px ) {

}