.desc-btn{
  margin: 0 auto;
  margin-top: 9em;
  width:40%;
}
.desc-btn h2{
  width:95%;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 500;
  text-align: right;
}
.landing{
  background-color: #212121;
  color: white;
  height: 100vh;
  text-align: center;
}
#home{
  scroll-snap-align: start;
}
.landing-stripe{
  position: absolute;
  height: 60%;
  left: 20%;
  animation: slidestripeup 1s ease-in-out forwards .1s;
  bottom: -150%;
  z-index: 1;
}
.logo-title{
  display: flex;
  justify-content: space-between;
  margin: 3em auto;
  width: 90%;
  height: 13em;
}
.landing-logo{
  width: 50%;
  height: 100%;
}
.landing-title{
  min-width: 50rem;
}
.logo-title h1{
  margin-top:.1em;
  font-size: 4.4rem;
  font-weight: bold;
}
.matters{
  color: #F1C27A;
}

/* svg animation */


@keyframes slidestripeup{
  from{
    bottom: -100%;
  }
  to{
    bottom: -1%;
  }
}
/* svg animation */