.about-page{
  height: 100vh;
  background-color: #F1C27A;
}
.about-title{
  color: white;
  text-align: center;
  font-size: 52px;
  padding-top: 1em;
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
.personal{
  font-size: 48px;  
}
.desc-img{
  display: flex;
  justify-content: space-around;
  margin: 3em auto;
  width:80%;
}
.desc-img img{
  height: 60vh;
  width: 30%;
}