.about-page{
  height: 100vh;
  background-color: #F1C27A;
}
.about-title{
  color: white;
  text-align: center;
  font-size: 52px;
  padding-top: 1em;
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  height: 100%;
}
.personal{
  font-size: 48px;  
}
.desc-img{
  display: flex;
  justify-content: space-around;
  margin: 3em auto;
  width:80%;
  height: 49%;
}
.desc-img img{
  height: 60vh;
  width: 30%;
}
.skills-title{
  text-align: center;
  font-size: 50px;
}

.skill-list{
  margin-top: 2em;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.skill-icon img{
  max-width: 6em;
  border-radius: 50%;
  transition: all .3s;
}
.skill-icon img:hover{
  max-width: 9em;
  transform: translate(-1em, -1em);
  transition: all .3s;
}