.about-page{
  color:white;
  background-color:#333333;
  height:78.5vh;
  padding-top:2%;
}

.about-container{
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #474747;
  width:95%;
  height:96%;
}

h1{
  margin: 0;
}
