.about-page{
  color:white;
  background-color:#333333;
  height:78.5vh;
  padding-top:2%;
}

.about-container{
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #474747;
  width:95%;
  height:96%;
}

.about-container h1{
  margin: 0;
  text-align: center;
  padding-top: .5em;
}

.about-content{
  display:flex;
  align-items: center;
  justify-items: space-between;
  margin:3em;
  margin-bottom:0;
}
.portrait-container{
  position: relative;
  width: 30em;
  height: 30em;
  overflow:hidden;
  border-radius: 50%;
  
}
.portrait{
  width: 100%;
  height: 32em;
}

.desc{
  width:70%;
  margin-right:5em;
  font-size: 1.5em;
}

.resume{
  margin-left:20%;
  width:20%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.resume p{
  font-size: 1.7em;
}

.resume a{
  max-height: 100%;
  color:black;
  font-weight: bold;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #afafaf;
  padding:.5em;
  padding-left: 1em;
  padding-right: 1em;
  border:3px #333333 solid;
  border-radius:15px;
  margin-top:.25em;
}