@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;700;800&display=swap');

*{
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Alegreya', serif;
  background-color: $off-white;
}

