// Colors
$off-white: #F3F3F3;
$off-black: #22252A;
$light-gray: #DBDBDB;
$darker-gray: #474747;
$mid-gray: #9A9A9A;
// Spacing/Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$box-height: 62em;
$box-width: 90%;